.card {
  border: var(--border-sm);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
.header {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}
.header-picture {
  width: 100%;
  height: auto;
}
.header-picture img {
  border-radius: 5px;
}
.header-title {
  font-size: 18px;
}
.actions {
  display: flex;
  gap: 15px;
}
.actions button {
  flex: 1;
  border: var(--border-sm);
  border-radius: 5px;
  padding: 3px 15px;
}
